
<div class="bg-gradient_solid">
    <div class="container">
      <div class="section-header">
        <h2>Timeline</h2>
        <hr>
        </div>
        <div class="steps">

         <!-- Mozilla  -->
         <div class="steps-container">
          <div class="content">
            <h2>Mozilla | Berlin, Germany</h2>
            <h4>Jan 2025 - Present</h4>
            <h5>Senior ML Engineer</h5>
            <p>Building trustworthy open-source AI tools for developers .</p>
          </div>
          <i class="step-line"></i>
          <img class="logo" src="assets/logos/mozilla.jpg" alt="">
        </div>

         <!-- Zalando  -->
          <div class="steps-container">
            <div class="content">
              <h2>Zalando SE | Berlin, Germany</h2>
              <h4>Dec 2020 - Jan 2025</h4>
              <h5>Senior Applied Scientist</h5>
              <p>Development of ML models for personalized size recommendation.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/zalando.png" alt="">
          </div>

        <!-- Borealis   -->
          <div class="steps-container">
            <div class="content">
              <h2>Borealis AI | Montreal, Canada</h2>
              <h4>Sept 2018 - Oct 2020</h4>
              <h5>Machine Learning Researcher</h5>
              <p>Implemented deep learning and NLP solutions to solve problems in the FinTech space.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/borealisai.jpeg" alt="">
          </div>

        <!-- University of Waterloo  -->
        <div class="steps-container">
            <div class="content">
                <h2>University of Waterloo | Ontario, Canada</h2>
                <h4>Sept 2016 - Aug 2018</h4>
                <h5>M.A.Sc</h5>
                <p>Thesis: Natural language generation with neural variational models.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/waterloo.svg" alt="">
        </div>

        <!-- Citibank   -->
        <div class="steps-container">
            <div class="content">
              <h2>Citibank | Chennai, India</h2>
              <h4>Jul 2015 - Aug 2016</h4>
              <h5>Application Developer</h5>
              <p>Process automation through Java applications developed via Google Web Toolkit.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/citi.png" alt="">
          </div>

        <!-- IITM   -->
        <div class="steps-container">
            <div class="content">
                <h2>IIT Madras | Chennai, India</h2>
                <h4>Aug 2010 - June 2015</h4>
                <h5>B.Tech + M.Tech</h5>
                <p>Thesis: Travel time prediction using machine learning techniques.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/iitm.png" alt="">
        </div>

        </div>
      </div>
    </div>
  
  