
<div class="bg-gradient_solid">
    <div class="container">
      <div class="section-header">
        <h2>Timeline</h2>
        <hr>
        </div>
        <div class="steps">
         <!-- Zalando   -->
          <div class="steps-container">
            <div class="content">
              <h2>Zalando SE | Berlin, Germany</h2> 
              <h4>Dec 2020 - Present</h4>
              <h5>Applied Scientist</h5>
              <p>As a member of the Size & Fit Team, I work on developing ML models for personalized size recommendation.</p>
            </div>
            <i class="step-line"></i>
            <img class="logo" src="assets/logos/zalando.png" alt="">
          </div>
        <!-- Borealis   -->
          <div class="steps-container">
            <div class="content">
              <h2>Zalando SE | Berlin, Germany</h2>
              <h6>Dec 2020 - Present</h6>
              <h6>Applied Scientist</h6>
              <p>As a member of the Size & Fit Team, I work on developing ML models for personalized size recommendation.</p>
            </div>
            <i class="step-line"></i>
            <div class="logo">[Logo]</div>
          </div>
        </div>
      </div>
    </div>
  
  